<mat-toolbar color="primary">
  <div class="left-section">
    <a mat-icon-button [routerLink]="['/']">
      <mat-icon>directions_car</mat-icon>
    </a>
    <a mat-button [routerLink]="['/']">Vehicle Explorer</a>
  </div>

  <div *ngIf="authService.isAuthenticated" class="middle-section">
    <a mat-button [routerLink]="['/vehicles']" routerLinkActive="active-link">Vehicles</a>
    <a mat-button [routerLink]="['/manufacturers']" routerLinkActive="active-link">Manufacturers</a>
    <a mat-button [routerLink]="['/vehicles/create']">
      <mat-icon>add</mat-icon> Add Vehicle
    </a>
  </div>

  <span class="spacer"></span>

  <div class="right-section">
    <div *ngIf="authService.isAuthenticated">
      <span class="user-email" *ngIf="currentUser">{{ currentUser.email }}</span>
      <button mat-button (click)="logout()">
        <mat-icon>logout</mat-icon> Logout
      </button>
    </div>

    <div *ngIf="!authService.isAuthenticated">
      <a mat-button [routerLink]="['/login']">
        <mat-icon>login</mat-icon> Login
      </a>
      <a mat-button [routerLink]="['/register']">
        <mat-icon>person_add</mat-icon> Register
      </a>
    </div>
  </div>
</mat-toolbar>
